<div id="{{_id}}" class="item-list-component">
	<div class="tp-container tp-centered-container">
		<div class="tp-row tp-row_content_left">
			<div class="tp-col-8">
				<div class="page-header">
					<div class="page-header__text">Недвижимость</div>
					<div class="filter-panel">
						{{{_sortRadioGroup}}}
						<select class="select filter-panel__select" id="sort-select">
							<option value="default" {{#if_eq sortValue "default"}}selected{{/if_eq}}>По умолчанию
							</option>
							<option value="price-asc" {{#if_eq sortValue "price-asc"}}selected{{/if_eq}}>Дешевле
							</option>
							<option value="price-desc" {{#if_eq sortValue "price-desc"}}selected{{/if_eq}}>Дороже
							</option>
						</select>
					</div>
				</div>
				<div class="item-{{viewMode}}">
					{{#each items}}
						<div class="item router-link" data-href="/items/{{id}}">
							<div class="item__image-container">
								<img src="{{previewImage}}" alt="title" class="item-image"/>
							</div>
							<div>
								<a class="item__title" href="/items/{{id}}">{{title}}</a>
								<div>
									<span class="price">{{price}}</span>
								</div>
								<div class="small">
									<i class="fas fa-map-marker-alt"></i>
									<span>{{address}}</span>
								</div>
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>

	{{#each children}}
		{{{this}}}
	{{/each}}
</div>
